/ConnecRing/nbproject/private/
/ConnecRing/ConnecRing-war/nbproject/private/
/ConnecRing/ConnecRing-ejb/nbproject/private/
/ConnecRing/ConnecRing-ejb/build/
/ConnecRing/ConnecRing-ejb/dist/
/ConnecRing/ConnecRing-war/build/
/ConnecRing/build/
/ConnecRing/ConnecRing-war/dist/
/ConnecRing/dist/